{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'blog/css/contacts.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    {# Стилі згенеровані за допомогою ШІ. Поки нехай буде лиш картка. #}

    {# Описував та зробив структуру картки я повністю сам #}
    <h1>About us - Contacts</h1>
    <h2>Наш офіс: </h2>

    <img src="{% static 'blog/images/office.jpeg' %}" alt="Office">

    <div class="card" id="main-card">
        <h1>Hlieb</h1 class="name">
        <div class="info">
            <p class="info-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iure dicta repudiandae tempore? Doloremque, minima in?
                Amet quod quis consequatur iure atque fugit sed!
                Dignissimos rem quibusdam expedita molestiae? Eaque, expedita!
            </p>

            <div class="contacts">
                <li>
                    <ul class="contact">Phone: +3801231231234</ul>
                    <ul class="contact">Email: hlieb@example.com</ul>
                </li>
            </div>
        </div>

        <div class="contact-button">Contact me!</div>
    </div>
{% endblock %}