{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block head %}{% endblock %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="{% url 'index' %}" 
                    class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                    Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'about' %}" 
                    class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
                    Blog
                    </a>
                </li>
                <li>
                    <a href="{% url 'contacts' %}" 
                    class="nav-link {% if request.resolver_match.url_name == 'contacts' %}active{% endif %}">
                    Contact
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    {% block content %}{% endblock %}

    <footer>
        <p>{% now "Y" %}</p>
    </footer>
</body>
</html>